h1 {
    text-align: center;
    font-size: 36px;
    color: #333;
    margin-top: 20px;
    margin-bottom: 40px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
   
    animation: colorChange 5s infinite alternate;
}


@keyframes colorChange {
    0% {
        color: #333;
    }
    100% {
        color: #e74c3c; /* Change to your desired color */
    }
}


.create-task-btn {
    position: absolute;
    top: 1rem;
    right: 240px;
    background-color: #2196F3;
    width: 150px;
    height: 40px;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.signout-btn {
    background-color: #3b3e41;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    cursor: pointer;
    width: 150px;
    height: 40px;
    position: absolute;
    top: 1rem;
    right: 1rem;
  }

  .signout-btn:hover {
    background-color: #535557;
  }

.create-task-btn:hover {
    background-color: #1976D2;
}


.kanban-board {
    margin-top: 80px;
    display: flex;
    gap: 20px;
    justify-content: space-between;
    padding: 20px;
}



.column {
    flex: 1;
    background-color: #f0f0f0;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#todo h2 {
    background-color: #2196F3; /* Blue for To Do */
}

#in-progress h2 {
    background-color: #FF9800; /* Orange for In Progress */
}

#testing h2 {
    background-color: #9E9E9E; /* Green for Testing */
}

#done h2 {
    background-color: #4CAF50; /* Gray for Done */
}

.column h2 {
    margin: 0;
    padding: 10px;
    color: white;
    text-align: center;
    border-radius: 5px;
}

/* Style for the task container */
.task-container {
    display: flex;
    gap: 20px;
    margin-top: 20px;
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Style for the task box */
.task-box {
    display: flex;
    flex-direction: column;
    background-color: white;
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
    position: relative;
}

.creator {
    position: absolute;
    bottom: 10px; /* Adjust this value to add space between Creator and Editor */
    left: 4px; /* Adjust left position if needed */
    margin: 5px 0;
    display: none;
    text-decoration: underline;
    padding: 5px;
 /* Add a light background color */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
    font-style: italic; /* Adjust font style if needed */
}

.editor {
    position: absolute;
    bottom: 0;
    left: 4px; /* Adjust left position if needed */
    margin: 5px 0;
    display: none;
    font-size: 10px;
}

.task-name {
    font-weight: bold;
    margin-bottom: 10px;
}

.task-description {
    color: #666;
    margin-bottom: 10px;
}

/* Style for the task modal */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.modal-content {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 500px;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center; /* Center align items horizontally */
    position: absolute;
    top: 50%; /* Position at the vertical center */
    left: 50%; /* Position at the horizontal center */
    transform: translate(-50%, -50%); /* Center both horizontally and vertically */
}

.close {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 24px;
    color: #888;
    cursor: pointer;
}

.modal-content h2 {
    margin: 0;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
    color: #333;
    font-size: 24px;
}

.selectStyle {
    width: 200px; 
    height: 40px; 
    font-size: 16px;
    color: #333;
    background-color: #f7f7f7;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 1px 1px 2px #999;
    background: #eee;
}

.selectStyle option {
    display: inline-block;
    height: 30px;
    width: 150px;
    outline: none;
    color: #74646e;
    border: 1px solid #111010;
    border-radius: 5px;
    box-shadow: 1px 1px 2px #999;
  
  }

  
  




.modal-content input[type="text"],
.modal-content textarea,
.modal-content select {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f0f0f0;
}

.modal-content label {
    margin-top: 10px;
}

.modal-content button {
    padding: 10px 20px;
    margin-top: 15px;
    background-color: #2196F3;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 150px;
    transition: background-color 0.3s;
    margin-right: 10px;
}

/* Adjust margin between buttons */
.modal-content button:last-child {
    margin-right: 0;
}


.modal-content button:hover {
    background-color: #1976D2;
}

#createTask {
    margin-right: 2px;
}

#updateButton {
    display: none;
    margin-right: 2px;
}



#taskStatus {
    cursor: pointer;
}
#tags {
    cursor: pointer;
}

.confirmation-modal {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 300px;
    width: 90%;
    text-align: center;
}

.confirmation-modal h2 {
    margin-top: 0;
    color: #333;
}

.confirmation-modal p {
    margin: 10px 0;
    color: #666;
}

.confirmation-modal .yes {
    padding: 8px 16px;
    margin: 0 10px;
    background-color: #2196F3;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.confirmation-modal .no {
    padding: 8px 16px;
    margin: 0 10px;
    background-color: #ce821e;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.confirmation-modal button:hover {
    background-color: #1976D2;
}

#cancelDelete {
    margin-top: 10px;
    margin-right: 10px;
}
.view-button,
.edit-button,
.delete-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 20px;
    

}

.edit-button {
    color: #2196F3;
   
    /* Space between edit and delete buttons */
}

.delete-button {
    color: #f51818;
}
.view-button{
    color: #ce821e;
}


.formatted-description {
    margin-top: 10px;
}

.modals {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

/* Style for the modal content */
.modal-contents {
    background-color: #f7f7f7;
    margin: 20% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 20%;
    text-align: center;
    position: relative;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Style for the close button */
.closes {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 20px;
    font-weight: bold;
    color: #888;
    cursor: pointer;
}

/* Style for the success message */
#successMessage {
    font-size: 18px;
    margin: 20px 0;
    color: #13e258;
    font-weight: bold;
}

#errorDiv {
    position: relative; /* Ensure proper positioning context */
   /* Set a higher value to bring it above other elements */
    color: red;
    margin-left: 5px;
    
   
}


.modaled {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
  }
  
  .modal-contented {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    text-align: center;
  }
  
  .closing {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .close:hover {
    color: black;
  }




@media (max-width: 1024px) {
    body {
        padding: 10px; 
    }

    .create-task-btn,
    .signout-btn {
        position: static;
        margin: 10px auto;
        display: block;
        width: auto;
    }

    .kanban-board {
        display: block;
    }

    .column {
        margin: 10px 0;
    }

    .task-container {
        display: block;
    }

    .task-box {
        margin: 10px 0;
    }

    .modal-content {
        width: 90%;
        max-width: 90%;
    }

    .modal-content button {
        margin: 10px 0;
    }
}

